h1,h3 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 3.5em;
  font-weight: 100;
}
h3 {
  font-size: 2em;
  letter-spacing: 25px;
  color: #888;
  font-weight: 900;
  border-top-style: dashed;
  border-top-width: medium;
  border-top-color: #f90;
}
