h1,h3 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 3.5em;
  font-weight: 100;
}
h3 {
  font-size: 2em;
  letter-spacing: 25px;
  color: #666;
  font-weight: 900;
  padding-bottom: 0.5em;
}
hr{
  width: 50%;
  text-align: center;
  background-color: #f90;
  height:5px !important;
  /*!important is used for overriding the default bootstrap setting*/
  border-width:0;
}
label{
  font-weight: 100 !important;
  /*!important is used for overriding the default bootstrap setting*/
}
fieldset{
  display:inline-block;
  padding: 2em !important;
  border: 1px solid silver !important;
  /*!important is used for overriding the default bootstrap setting*/
}
legend{
  margin-bottom: 0px !important;
  /*!important is used for overriding the default bootstrap setting*/
}
.textcenter{
  text-align: center;
}
.supersize{
  font-size: 10em;
}
.formHR{
  width: 50%;
  text-align: center;
  background-color: #f99;
  height:2px !important;
  /*!important is used for overriding the default bootstrap setting*/
  border-width:0;
}
.outputSeparator{
  width: 50%;
  text-align: left;
  background-color: #bbb;
  height:2px !important;
  /*!important is used for overriding the default bootstrap setting*/
  border-width:0;
}
.formUL li{
    display: inline-block;
    list-style: none;
    padding: 0 1em;
}
li{
    list-style: none;
    padding: 0 1em;
}
.navbar .navbar-nav {
    vertical-align: top;
    width: 100%;
    text-align: center;
  }
 .navbar .navbar-nav li {
      /*overriding the style for the navbar and CENTER it*/
      float: none ;
      display: inline-block;
    }

.form{
  text-align: center;
}
.output{
  margin-top: 2em;
  padding: 1em;
  margin-bottom: 4em;
  background-color: #ffe;
}
.breadcrumb{
  padding: 16px 25px !important;
  /*!important is used for overriding the default bootstrap padding size*/
}
